<div id="about-container">
    <div id="about-container-inner">
        <!----    <i class="fas fa-camera"></i> -->
        <app-header></app-header>
        <div class="about-content">
            <div class="banner">
                <h2 class="drop-shadow">About Us</h2>
                <p class="drop-shadow">This assignment was created by Christian Palma.</p>
                <p class="drop-shadow">It was created for IS183 at Fresno State.</p>
                <button class="btn btn-primary drop-shadow">Learn More</button>
            </div>
        </div>
    </div>
</div>
<body class="Main-Body-Container">
    <header class="Main-Header Box-Shadow">
    </header>
    <section class="Main-Container">
        <div class="Top-Section Box-Shadow">
            <div class="Top-Inner-Section">
                <div class="Pic-Container">
                    <img src="../assets/img/ProfilePicture.jpg" class="Bio-Image" alt="my pic">

                </div>
                <div class="Bio-Description">
                    <h2>My Biography</h2>
                    <p>My name is Christian Palma. I am 22 years and and currently a senior at Fresno State going for my Bachelor's degree in
                        Business Administration.
                        My concentration in business is Computer Information Systems.
                    </p>
                    <p>Below in the gallery are some things that I enjoy. Raccoons and wolves are my favorite animals. I
                        have several hobbies.
                        I love to play video games in my free time as well as watch tv. BoJack Horseman is my favorite
                        tv show. I also love to listen to EDM and attend
                        EDM concerts from time to time. Additionally, I enjoy traveling and exploring new places.
                        Another hobby I have is Go Kart racing.
                        When it comes to food, pizza is my favorite dish.
                    </p>
                </div>
            </div>
        </div>